
.container{
    margin-bottom: 100px;
}
html{
    scroll-behavior: smooth;
}
.bg-color{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.section1-div{
    width: 340px;
}
.div-marging{
    margin-right:90px;
    
}

.shoes-div{
    width: 340px;
    margin-right: 20px;
    padding-left: 10px;
    outline: none;
    border-radius: 10px;
    box-shadow:  5px 5px 10px rgb(179, 178, 178);
}
@media (max-width: 575.98px) { 
    .cata{
        display: flex;
        flex-direction: column;
        
                
    }
    .div-marging{
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .slider{
        margin-top: 30px;
    }
}
